/* CSS APP WRAPPER -->>>  */

/* friend list details text b3b3b3 */


body {
    background-color: #1f1f1f;
}

.bg-primary {
    background-color: #1f1f1f;
}

/* .prx_container{
    width: 1024px;
    border: 1px solid #ff0000;
}

.prx_wrapper{
    width: 1024px;
    border: 1px solid #0000ff;
}    
.prx_playlist{
    width: 768px;
    float:left;
}
.prx_friends{
    width: 256px;
    float:left;
    clear: left;
}
.prx_player{
    position:absolute;
    bottom:0;
    border: 1px solid #ff00ff;
} */

#friends{
    background-color: #000;
    height: 100%;
}

.details {
    color: #b3b3b3;
}

#friends .songBlock .datePlayed {
    font-size: .75em;
}
#white{
    color:#fff;
}

/* FRIENDS LIST -->>> CHANGE THIS STYLING TO NON STRAIGHT CSS */
.songs-list{
    padding-bottom: 35px;
   /* overflow-y: auto; 
    height:600px; */
}

.songBlock {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
}

.circMe{
    border-radius: 50%;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid #b3b3b3;
}
.leftBlock{
   padding-top: 20px;
   float:left; 
   clear:left;
}
.rightBlock{
    padding-top: 20px;
    float:left; 
 }